{
    "custom_excerpt": "Extreme vindictiveness combined with an inability to accept their mistakes",
    "feature_image": "https://frostmaiden.assimilate.dev/content/images/2021/03/apparition-1.jpg",
    "id": "5ff3456e06af1f032cac4dce",
    "slug": "devils",
    "tags": [
        "Lore"
    ],
    "title": "Devils"
}